<div class="navbar flex p-5 bg-dark text-light">
  <a routerLink="/" class="text-light text-decoration-none fs-5 fw-bold"
    >NGXS State Management</a
  >
  <ul class="navbar-nav ms-auto">
    <li class="nav-item fw-bold">
      <a
        href="https://github.com/aliraja-dev"
        class="text-decoration-none text-light"
        target="_blank"
        >Ali Raja :Github</a
      >
    </li>
  </ul>
</div>

<div class="container-md mt-5">
  <div class="row text-center">
    <h3>Tutorial TODO List for FrontEnd Track</h3>
    <app-create class="col p-5"></app-create>
    <app-read class="col p-5"></app-read>
  </div>
</div>
